@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui";
@theme {
  --color-green: #216d20;
  --color-white: white;
  --color-black: rgb(60, 60, 60);
}
.bg-custom {
  @apply bg-[linear-gradient(rgba(0,128,0,0.6),rgba(0,128,0,0.6)),url('./assets/body.webp')] dark:bg-black;
}

.dark .bg-custom {
  background-image: none;
  background-color: rgb(60, 60, 60);
}
body {
  font-family: "Poppins", sans-serif;
}
a.active {
  @apply  border-y-2
}

.bgcolor {
  background: linear-gradient(
    180deg,
    white 0,
    white 50%,
    rgba(0, 128, 0, 1) 50%,
    rgba(0, 128, 0, 1) 100%
  );
}


.dark .bgcolor {
  background: linear-gradient(
    180deg,
    rgb(60, 60, 60) 0,
    rgb(60, 60, 60) 50%,
    #2e4f4f 50%,
    #2e4f4f 100%
  );
}
